{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Carnet</title>
</head>
<body>
    <main>
        <header>
            <div class="flex justify-center items-center p-2">
                <span class="font-medium text-3xl"> SoftCarnet </span>
            </div>
            <nav class="bg-blue-50 shadow-md">
                <div class="max-w-7xl mx-auto px-4 flex items-center justify-between ">
                    <div class="flex items-center">
                         <span class="text-2xl font-bold text-blue-600">MySite</span>
                    </div>
                    <div class="hidden md:flex">
                        <ul>
                            <li class="text-gray-700 hover:text-blue-600">
                                <a href="{% url 'store' %}"> Creer un contact </a>
                            </li>
                       </ul>
                    </div>
                    <div>
                        <li class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">
                            <a href="#"> Deconnexion </a>
                        </li>
                    </div>
                    
                </div>
            </nav>
        </header>
        <section>
           {% block content  %}
           {% endblock  %}
        </section>
        <footer>
            <span> By Darline </span>
            <span>Copyright &copy; 2026</span>
        </footer>
    </main>
</body>
</html>